arabic-reshaper==3.0.1
asgiref==3.11.1
charset-normalizer==3.4.7
Django==6.0.5
django-cors-headers==4.9.0
django-stubs==6.0.4
django-stubs-ext==6.0.4
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
numpy==2.2.6
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
pdf2image==1.17.0
pillow==12.2.0
PyJWT==2.12.1
PyPDF2==3.0.1
python-bidi==0.6.10
pyzbar==0.1.9
qrcode==8.2
reportlab==4.5.1
sqlparse==0.5.5
types-PyYAML==6.0.12.20260510
typing_extensions==4.15.0
